.MathJax {
 font-size: 1.5em !important;
}

body {
//  overflow-y: scroll;
  width:100%;
}

a {
  text-decoration: none;
  color: #336699;
  text-shadow: none;
  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
}

a:hover {
  text-shadow: 2px 2px 8px #33aeff;
  text-decoration: none;
// 陰影產生器 -- http://css3gen.com/text-shadow/
}

.titlelink * { color:#999999; font-weight:bold; text-decoration:none;  }
.titlelink .innerLink { color:#999999; font-weight:bold; text-decoration:none;  }
.innerLink { color:#336699; }

/*===========================================================*/

.panel {
  margin:10px;
  padding:10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* ========================================================= */

ruby {
  ruby-align: center;
  ruby-overhang: auto;
  ruby-position: above;
  line-height: 300%;
  font-size: 20px;
}

rb {
}

rt {
  color: #336699;
}

/* ==================== pmag.css ===========================*/

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  line-height:160%;
}

#cover-image {
  width:100%;
}

div>ol.toc {
  list-style-type:disc;
}

ol.toc {
  list-style-type:circle;
}

blockquote {
  padding: 10px;
  border: 3px double #373737;
  color:#333333;  
}

h1, h1 a { font-size: xx-large; color:#050505; text-align:center; margin:30px; font-weight: bold; font-family: 'DFKai-sb', 'Tahoma'; }

h2, h2 a { font-size: x-large; color:#8B008B; margin-top:30px; margin-bottom:30px; font-weight: bold; font-family: 'DFKai-sb', 'Tahoma'; }

h3, h3 a { font-size: large; color:#000080; font-weight: bold; font-family: 'DFKai-sb', 'Tahoma'; }

h4, h4 a { font-size: medium;  color:#4B0082; font-weight: bold; font-family: 'DFKai-sb', 'Tahoma'; }

h5, h5 a { font-size: small ;  color:#708090; font-weight: bold; font-family: 'DFKai-sb', 'Tahoma'; }

h6, h6 a { font-size: x-small; color:#﻿﻿000080; }

p {
  font-family: 'Pmingliu', 'Tahoma';
  margin: 5px;
  font-size:100%;
  color:#353535;
}

li {
  font-size:100%;
}

footer p {
  color: #f2f2f2;
}
/*
a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #686868;
  margin-bottom: 20px;
  text-align: left;
  margin-left:auto; 
  margin-right:auto;
}

th {
	padding: 10px;
	background-color:black;
	color:white;
}

td {
  padding: 5px;
  vertical-align: middle;
  border: 1px solid #373737;
}
 
em {
  color: blue;
}

strong {
  font-weight:bold;
  color: red;
}


#header_wrap {
  margin: 0;
  padding: 16px;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  background-color:black;
  color:white;
}

#header_wrap  h1, #header_wrap  h1 sub, #header_wrap  h1 a {
  color:white;
  font-family: 'DFKai-sb', 'Tahoma';
}

#header_wrap  sub {
  color:white;
  font-size:60%;
}

#bar, #bar a, #header_wrap  a, #header_wrap  h1 sub a  {
  color:white;
  width:95%;
  text-align:right;
  font-weight:bold;
}

.title, .author, .date {
  color:#333333;
  text-align:center;
  font-family: 'DFKai-sb', 'Tahoma' ;
}

.title { font-size:xx-large;  line-height:800%; }

.author { font-size:large;  line-height:300%; }

.date { font-size:large;   line-height:300%; }


#content {
  margin:10px;
  padding:10px;
}

pre {
  border: 1px solid #373737;
  background-color:#efefef;
  color:#3f3f3f;
  font-size:medium;
  width:95%;
  padding:10px;
  /* wrap ，自動換行 */
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */    
}

code {
//  font-family: SimSun;
//  color:blue;
  font-size:100%;
}

pre code {
  font-family: SimSun, Courier;
  font-size:125%;
}

.figure {
  margin:10px;
  padding:10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img { vertical-align:middle; }

.figure img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.figure .caption {
  text-align:center;
}

#TOC {
}

#footer {
  text-align:center;
  font-size:small;
  color:#6f6f6f;
  margin: 10px;
  padding: 10px;
}

/* JavaScript Style */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; color: #afafaf; border-right: 1px solid #aaaaaa; }
td.sourceCode { padding-left: 5px; }
code > span.kw { color: #007020; font-weight: bold; }
code > span.dt { color: #902000; }
code > span.dv { color: #40a070; }
code > span.bn { color: #40a070; }
code > span.fl { color: #40a070; }
code > span.ch { color: #4070a0; }
code > span.st { color: #4070a0; }
code > span.co { color: #60a0b0; font-style: italic; }
code > span.ot { color: #007020; }
code > span.al { color: #ff0000; font-weight: bold; }
code > span.fu { color: #06287e; }
code > span.er { color: #ff0000; font-weight: bold; }

/* ===================bootstrap======================== */
/* Move down content because we have a fixed navbar that is 50px tall */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/*
 * Base structure
 */


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

body {
  padding-top: 40px;
}

