/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 65px;
  padding-bottom: 20px;
}

.box {
  border:1px solid #c0c0c0;
}

textarea {
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
  overflow-y: scroll;
  border:1px solid #c0c0c0;
}

.chart, .chart-small {
  border:1px solid #c0c0c0;
  width: 100%;
//  padding-bottom: 75%;
	height:200px;
	margin:10px 2px 10px 2px;
}

/*
.chart-big {
  border:1px solid #c0c0c0;
  width: 100%;
  padding-bottom: 70%;
}
*/

.chart-big {
  border:1px solid #c0c0c0;
  width: 100%;
  height:600px;
	margin:10px 2px 10px 2px;
}
